/* fmt: skip file */


/*
.form-label, .shiny-input-container .control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
} */

.shiny-output-error-validation {
      color: #2593AF;
      font-size: 30px;
      text-align: center;
    }

/*    
.form-label, .shiny-input-container .control-label {
  
  margin-top: 10px;
} */
    
#osDropdown {
  display: block;
  padding: 4px 10px;
  max-width: 200px;   /* Controls the max width of the button */
  width: fit-content; /* Allows the button width to adapt to its content */
}

#downloadData {
  display: block;
  padding: 4px 10px;    /* Less padding */
  margin: 30px auto 10px auto;  /* top-bottom 20px, auto left-right */
  max-width: 200px;   /* Controls the max width of the button */
  width: fit-content; /* Allows the button width to adapt to its content */
}

/* removing scroll bars from data table */
.dataTables_scrollBody::-webkit-scrollbar {  /* Chrome, Safari */
    display: none;
  }
  
  
div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
    display: inline-block;
}

.nav {
  --bs-nav-link-padding-x: .8rem;
}

/*
.bslib-sidebar-layout>.sidebar {
  background-color: #001743;
} */

/* scroll bar */

  .bslib-sidebar-layout > .sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
